@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color : rgb(0, 0, 0);
  --bg-color-grey-1 : #F9F9F9;
  --text-color : rgb(0, 0, 0);
  --text-color-1 : #8D8D8D;
  --text-color-2 : #6B6B6B;
}

.light {
  --bg-color : rgb(255, 253, 253);
  --bg-color-grey-1 : #F9F9F9;
  --text-color : rgb(0, 0, 0);
  --text-color-1 : #8D8D8D;
  --text-color-2 : #6B6B6B;
}

.dark {
  --bg-color : rgb(0, 0, 0);
  --bg-color-grey-1 : #F9F9F9;
  --text-color : rgb(255, 255, 255);
  --text-color-1 : #8D8D8D;
  --text-color-2 : #6B6B6B;
}

.container {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}